<header>
        
    <div class="container">
            <div class="row">
                <div class="col">
                        <h1 class="display-1">List of Users</h1>
                </div>
            </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/Book">Add Book</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/Books">Book List</a>
          <a class="nav-item nav-link" href="/User">Add Users</a>
          <a class="nav-item nav-link" href="Users">User List</a>
        </div>
      </div>
    </nav>
</header>